body{
    background-color:#eeeeee;
    height:2000px;
}

/*卡片样式*/
.card{
    background-color: #eeeeee;
}
.card_head{
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 30px;
    max-height: 60px;
    width: 100%;
    display: flex;
    align-items: center; /*元素水平居中*/

    font-size: small;

}
.card_content{
    background-color: white;
    margin: 1px 0;
    min-height: 60px;
    width: 100%;
}
.card_bottom{
    background-color: white;
    margin: 0;
    min-height: 30px;
    max-height: 60px;
    width: 100%;
    display: flex;
    align-items: center; /*元素水平居中*/
}

/*图标*/
.icon{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin: 4px;
}
.icon_S{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin: 4px;
}
.icon_SM{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin: 4px;
}
.icon_M{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    margin: 4px;
}
.icon_L{
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin: 4px;
}
.icon_X{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    margin: 4px;
}
